body {
    background: rgb(191, 210, 235);
    font: normal 15pt Arial;
}

header {
    color: black;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0.363);
}

img {
    padding-top: 20px;
}

footer {
    color: black;
    text-align: center;
    font-style: italic;
}